<!-- Modal Buy -->
<div class="modal fade" id="ModalConfimBuy" tabindex="-1" aria-labelledby="ModalConfirmBuy" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm purchase</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <form method="POST">
          {{ buy_form.hidden_tag() }}
          <h4>
            Would you like to buy these products for R$ {{ subtotal }}?
          </h4>
          <br>
          <h6>
            click buy to confirm your purchase 
          </h6>
          <br>
          <input id="buy_product" name="buy_product" type="hidden" value="{{ subtotal }}">
          {{buy_form.submit(class="btn btn-outline-success btn-block ")}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>