{% extends 'base.html' %}

{% block title %}
  About
{% endblock %}

{% block content %}

<div class="container" style="margin-top: 20px; padding-left: 20px; padding-right: 20px">
  <div class="row">
    <div class="col">
      <h2 style="text-align: center">About</h2>
      <hr>
      <p style="text-align: center">
        This is a simple e-commerce website made with Python and Flask.
      </p>
      <p style="text-align: center">
        The main objective of this project is to learn more about Python and
        Flask.
      </p>
</div>

{% endblock %}