{% extends 'base.html' %}

{% block title %}
  Change Password
{% endblock %}

{% block content %}
  <body>

    <div class="container w-25" style="margin-top: 7rem;">
      <h1 class="h3 mb-3 font-weight-normal text-center" style="font-size: 1.8em;">
        Change your password
      </h1>
      <form method="POST" class="form-register text-start" style="color: whitesmoke;" onsubmit="return validateForm();">

        {{ form.hidden_tag() }}

        {{form.password1.label()}}
        {{form.password1(class="form-control", placeholder="Enter your new password", required=True)}}

        {{form.password2.label(class="mt-3")}}
        {{form.password2(class="form-control", placeholder="Confirm your new password", required=True)}}
      <div class="d-grid">
        {{form.submit(class="btn btn-success w-50 m-auto mt-4")}}
      </div>
        
      </form>
    </div>
  </body>
{% endblock %}