{% extends 'base.html' %}

{% block title %}
  Ordered Products
{% endblock %}

{% block content %}

<div class="" style="margin-top: 20px; padding-left: 20px; padding-right: 20px">
  <div class="w-full">
    <h2 style="text-align: center">Ordered Products</h2>
    <hr>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for order in order_product  %}
      <div class="col">
        <div class="card text-center ms-5 me-5 mb-4 text-bg-secondary">
          <div class="card-header" style="background-color: #212122;">
            Product
          </div>
          <div class="card-body" style="background-color: #313131c4;">
            <h5 class="card-title" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;">
              {{ order.name }}
            </h5>
            <p class="card-text" style="overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1;">
              {{ order.description }}
            </p>
          </div>
          <div class="card-footer text-bg-success" style="font-weight: bold;">
            pick up this product in store
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}

