{% extends 'base.html' %}

{% block title %}
  Products
{% endblock %}

{% block content %}
  <div class="row" style="margin-top: 20px; margin-left: 20px;">
    <div class="col-7">
      <h2 style="text-align: center">Products Available</h2>
      <p style="text-align: center;">click on buy if you are interested </p>
      <hr>
        <table class="table table-hover table-dark table-bordered">
          <thead>
            <tr>
              <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Bar code</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for prod in product %}
              {% include 'includes/modal_products.html' %}
              <tr>
                <td>{{prod.id}}</td>
                <td>{{prod.name}}</td>
                <td>{{prod.bar_code}}</td>
                <td>{{prod.price}}</td>
                <td>
                  <button data-bs-toggle="modal" data-bs-target="#exampleModal-{{prod.id}}" class="btn btn-outline-info">More information</button>
                  <button data-bs-toggle="modal" data-bs-target="#ModalBuy-{{prod.id}}" class="btn btn-outline btn-success">Buy</button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    <div class="col-5">
      <h2 style="text-align: center">Produtos Adquiridos</h2>
      <p style="text-align: center">You can return the item if you wish</p>
      <hr>
    </div>
  </div>
{% endblock %}