{% extends 'base.html' %}

{% block title %}
  Products
{% endblock %}

{% block content %}
<h2 style="text-align: center">Products</h2>
<hr>
<table class="table table-hover table-dark table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Bar code</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for prod in product %}
    <tr>
      <td>{{prod.id}}</td>
      <td>{{prod.name}}</td>
      <td>{{prod.bar_code}}</td>
      <td>{{prod.price}}</td>
      <td>{{prod.description}}</td>
      <td>
        <button class="btn btn-outline-info">More information</button>
        <button class="btn btn-outline btn-success">Buy</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}