{% extends 'base.html' %}

{% block title %}
  Products
{% endblock %}

{% block content %}
  <div class="row" style="margin-top: 20px; margin-left: 20px;">
    <div class="col-7">
      <h2 style="text-align: center">Products Available</h2>
      <p style="text-align: center;">click on buy if you are interested </p>
      <hr>
        <table class="table table-hover table-dark table-bordered">
          <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Bar code</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for prod in product %}
              {% include 'includes/modal_products.html' %}
              <tr>
                <td>{{prod.name}}</td>
                <td>{{prod.bar_code}}</td>
                <td>{{prod.price}}</td>
                <td>
                  <button data-bs-toggle="modal" data-bs-target="#exampleModal-{{prod.id}}" class="btn btn-outline-info">More information</button>
                  <button data-bs-toggle="modal" data-bs-target="#ModalBuy-{{prod.id}}" class="btn btn-outline btn-success">Buy</button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    <div class="col-5">
      <h2 style="text-align: center">Produtos Adquiridos</h2>
      <p style="text-align: center">You can return the item if you wish</p>
      <hr>
      <div class="row">
      {% for owner_product in owner_products %}
      {% include 'includes/modal_owner_products.html' %}
        <div class="col-md-6">
          <div class="card text-center bg-dark " style="width: 16rem; color: white;">
            <div class="card-body">
              <h5 class="card-title">{{owner_product.name}}</h5>
              <button
              style="margin-bottom: 10px; margin-top: 10px"
              data-bs-toggle="modal"
              data-bs-target="#ModalSell-{{owner_product.id}}"
              class="btn btn-outline-danger"
              type="button">
                Sell
              </button>
              <p>
                <strong>This product costs R$ {{owner_product.price}}</strong>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}